h1 {
    color:midnightblue
}

.header {
    /* background: #ccc;  */
    display: flex;
    justify-content: space-between;
}

a:link {
    color:navy
}

a:visited {
    color:navy
}

a:hover {
    color:slateblue
}

a:active {
    color:skyblue
}

ul li {
    padding: 5px 0px;
}

a.page_links, a.page_links:visited {
    background-color: rgb(51, 51, 213);
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a.logout_link {
    background-color: rgb(120, 67, 246);
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
}

.alert {
    display: inline-block;
    padding: 0px 50px;
    margin: 5px 5px;
    color: #970020;
    background-color: #ffd5de;
}

.notice {
    /* display: inline-block; */
    float: right;
    padding: 0px 50px;
    margin: 5px 5px;
    color: #1e0246;
    background-color: #c8b8f4d0;
}