html, body {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}

p {
    font-size: 1em;
    line-height: 2em;
}

#container {
    position: relative;
    padding: 8px;
    min-height: calc(100vh - 16px);
}

div.sticker {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 218px;
}

.form_font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 95%;
}

.submit_button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 95%;
    color: #1e0246;
    background-color: #cebff5d0;
    cursor: pointer;
}

nav.page {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: space-around;
}

.page_button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 99%;
    color: #1e0246;
    background-color: #cebff5d0;
    box-sizing: content-box;
    height:25px;
    width:80px;
    cursor: pointer;
}

h1 {
    color:midnightblue
}

.header {
    font-size: 1em;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home {
    cursor: context-menu;
}

.news {
    cursor:help;
}

.header a:link{
    text-decoration: underline overline dotted;
    text-underline-offset: 3px;
    top: 0px;
}

.header a:hover{
    text-decoration: none;
    color:#1e0246 !important;
}


nav li {
    display: inline;
    margin-left: 16px;
}

nav ul {
    display: inline;
    list-style: none;
    padding: 0;
  }

/* body {
    font-size: 100%;
} */

a {
    position:relative;
    cursor: pointer;
}

a:link {
    color:#1e0246
}

a:visited {
    color:#1e0246
}

a:hover {
    color:#a361ff 
}

a:visited:hover {
    color:#a361ff 
}

/* a:focus {
    color: yellow;
} */

a:active {
    top:1px ;
    color:#c19ff1 !important;
}

/* ul li {
    padding: 8px 0px;
} */

ul.index {
    list-style-type: none; 
    /* list-style: square; */
    /* list-style-image: url('pawicon.svg'); */
    margin: 0;
    padding: 0;
}

ul.index > li::before {
    content: '';
    display:inline-block; height:2px; width:2px;
    background-size: contain;
    background-image: url('pawicon.svg');
    background-repeat: no-repeat;
    padding: 1em 0px 1em .5em;
    margin-left: 1em;
    margin-right: .6em;
    /* background-position: 0 .4em; */
    background-position: center;
    vertical-align: middle;
  }

  ul.index > li > a {
    top:1px;
  }

  ul.index > li > a:active {
    top:2px;
  }

.table {
    border-spacing:0px;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
}

.alert {
    display: inline-block;
    padding: 0px 50px;
    margin: 5px 5px;
    color: #970020;
    background-color: #ffd5de;
}

.notice {
    /* display: inline-block; */
    float: right;
    padding: 0px 50px;
    margin: 10px 5px;
    color: #1e0246;
    background-color: #c8b8f4d0;
}

.response_error {
    display: inline-block;
    /* float: right; */
    padding: 10px 20px;
    margin: 5px 5px;
    font-size: 1.3em;
    color: #1e0246;
    background-color: #c8b8f4d0;
}

hr.results_hr {
    height:3px;
    margin:25px;
    border-width:0;
    border-radius:10px;
    color:gray;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #7461a5, #7461a5, #7461a5, rgba(0, 0, 0, 0));
}

hr.pagination_hr {
    height:5px;
    margin:20px;
    border-width:0;
    border-radius:10px;
    color:gray;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #cebff5d0, #cebff5d0, #cebff5d0, rgba(0, 0, 0, 0));
}

img.flex_pics {
    height: 280px;
    width: auto;
    min-width: 0;
    min-height: 0;
    object-fit: contain;
    flex: 0 1 auto;
}

div.flex_pics {
    display:flex; 
    align-items:center;
    gap: 2px 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

