html, body {
    padding: 0;
    margin: 0;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 1em;
}

p {
    font-size: 1em;
    line-height: 2em;
}

#container {
    position: relative;
    padding: 8px;
    min-height: calc(100vh - 16px);
}

#popup {
    display:flex;
    height: 25px;
    width: 100%;
    max-width: 310px;
    float: right;
    padding: 2px 12px;
    margin: 10px 25px;
    color: #1e0246;
    background-color: #c8b8f4d0;
    line-height: 0em;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
}

#popup img {
    height:25px;
    width:auto;
}


#filter_form {
    line-height: 2.5em;
}

#form_submit {
    display:flex;
    align-items: center;
}


#wait {
    display:flex;
    height: 25px;
    width: 100%;
    max-width: 290px;
    padding: 2px 12px;
    margin: 0px 8px;
    color: #1e0246;
    background-color: #c8b8f4d0;
    line-height: 0em;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px; 
}

#wait img {
    height:25px;
    width:auto;
}

div.sticker {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 218px;
}

.form_font {
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 100%;
}

.submit_button {
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 100%;
    color: #1e0246;
    background-color: #cebff5d0;
    cursor: pointer;
}

.delete_button {
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 100%;
    color: #970020;
    background-color: #ffd5de;
    cursor: pointer;
}

.pic_credit {
    font-size:.5em;
    text-align: center;
}

nav.page {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    /* gap: 20%; */
    justify-content: space-around;
}

.page_button {
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 100%;
    color: #1e0246;
    background-color: #cebff5d0;
    box-sizing: content-box;
    height:25px;
    width:80px;
    cursor: pointer;
}

h1 {
    color:midnightblue
}

#header {
    font-size: 1em;
    padding: .67em .67em 0px .67em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header a:link{
    text-decoration: underline overline dotted;
    /* text-underline-offset: 3px; */
    text-underline-position: under;
    top: 0px;
}

#header a:hover{
    text-decoration: none;
    color:#1e0246 !important;
}

#home li {
    margin-left:0;
}

#news {
    cursor:help;
}

nav li {
    display: inline;
    margin-left: 16px;
}

nav ul {
    display: inline;
    list-style: none;
    padding: 0;
  }

a {
    position:relative;
    cursor: pointer;
}

a:link,a:visited {
    color:#1e0246
}

a:hover,a:visited:hover  {
    color:#a361ff 
}

/* a:focus {
    color: yellow;
} */

a:active {
    top:1px ;
    color:#c19ff1 !important;
}

a.dotdotdot{
    line-height: 0;
}

a.dotdotdot:link{
    text-decoration: underline dotted;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    font-size: 1.5em;
    top: 0px;
    color:#1e0246;
}

a.dotdotdot:visited{
    color:#863fff;
}

a.dotdotdot:hover,a.dotdotdot:visited:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color:#cc3fff;
}

a.dotdotdot:focus{
    top: 1px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color:#d668fe;
}

a.dotdotdot:active{
    top: 2px !important;
    color:#dd82fe !important;
}

ul.index {
    list-style-type: none; 
    /* list-style: square; */
    /* list-style-image: url('pawicon.svg'); */
    margin: 0;
    padding: 0;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
}

ul.index > li::before {
    content: '';
    display:inline-block; height:10px; width:10px;
    background-size: contain;
    background-image: url('pawicon.svg');
    background-repeat: no-repeat;
/*     padding: 1em 0px 1em .5em; */
    margin-left: 1em;
    margin-right: .6em;
/*     background-position: 0 .4em; */
    background-position: center;
    vertical-align: middle;
  }

ul.index > li {
    /* padding: 8px 0px; */
    line-height: 2em;
}

ul.index > li > a {
    vertical-align: middle;
}
.mgmt_table {
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    line-height: 1.5em;
    /* line-height: 2em; */
}

.mgmt_table td {
    /* border: black 1px solid; */
    vertical-align: top;
}

input.checkbox {
    margin-left: 0;
    margin-right: .5em;
}

.button_div {
    line-height: 1em;
    margin-block-start: 1em;
    margin-block-end: 1.33em;
}

.mgmt div {
    line-height: 2em;
}
.mgmt input{ 
    padding: 0px; 
    line-height: 1em; 
    font-size:.95em;
}

ul.alert {
    display: inline-block;
    padding: 2px 16px;
    margin: .67em 60px;
    color: #970020;
    background-color: #ffd5de;
    border-radius: 10px;
    list-style: none;
}

ul.alert > li::before {
    content: '';
    display:inline-block; height:10px; width:10px;
    background-size: contain;
    background-image: url('pawicon.svg');
    background-repeat: no-repeat;
    margin-bottom: 2px; 
    margin-right: .5em;
    background-position: center;
    vertical-align: middle;
  }

ul.alert > li {
    line-height: 1.5em;
}

ul.notice {
    float: right;
    padding: 2px 16px;
    margin: 10px 25px;
    color: #1e0246;
    background-color: #c8b8f4d0;
    border-radius: 10px;
    list-style: none;
}

ul.notice > li.new::before {
    content: '';
    display:inline-block; height:10px; width:10px;
    background-size: contain;
    background-image: url('pawicon.svg');
    background-repeat: no-repeat;
    margin-bottom: 2px; 
    margin-right: .5em;
    background-position: center;
    vertical-align: middle;
  }

ul.notice > li {
    line-height: 1.5em;
}

.response_error {
    display: inline-block;
    padding: 8px 16px;
    margin: 5px 5px;
    font-size: 1.3em;
    color: #1e0246;
    background-color: #c8b8f4d0;
    border-radius: 30px;
}

hr.results_hr {
    height:3px;
    margin:25px;
    border-width:0;
    border-radius:10px;
    color:gray;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #7461a5, #7461a5, #7461a5, rgba(0, 0, 0, 0));
}

hr.pagination_hr {
    height:5px;
    margin:20px;
    border-width:0;
    border-radius:10px;
    color:gray;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #cebff5d0, #cebff5d0, #cebff5d0, rgba(0, 0, 0, 0));
}

.flex_pics {
    height:250px;
    width: auto;
    min-width: 0;
    object-fit: contain;
    flex: 0 0 auto;
    border: #c8b8f4d0;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

div.flex_pics_container {
    display:flex; 
    align-items:center;
    gap: 1px;
    margin: 1em 0px 1em 0px;
    height:fit-content;
    border-radius:10px;
    overflow-x: auto;
}

#results_topper {
    display:flex;
    justify-content: space-between;
    align-items:baseline;
    flex-wrap: wrap;
    margin-top:1.33em;
    gap: 1em;
}

#results_topper h1 {
    margin: 0px;
}

div.change_limit {
    color: midnightblue;
    font-weight: bold;
}

.change_limit .form_font {
    font-size:90%;
}

#padded_wrapper {
    padding:0px 3.75em;
}

span.puzzle_row {
    display:inline-block; 
    text-align: center; 
    height: 50px; 
    width: 50px; 
    background-color:rgb(168, 168, 168); 
    box-sizing: border-box;
    font-size: 35px;
} 

/* span.guess_row {
    font-size:2em;
} */


input.guess_row{
    display:inline-block; 
    text-align: center;
    height: 50px; 
    width: 50px; 
    font-size: 35px;
    box-sizing: border-box;
    border-width: 1px;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    caret-color:#88888800;
    text-transform:uppercase;
}

input.guess_row:focus{
    /* outline-width: 2px;
    outline-style: solid;
    outline-color: grey; */
    border: none;
    border-radius: 2pt;
    box-shadow: 0 0 2px 1px rgb(112, 112, 112);
    outline: none;
    transition: .1s;
}

#puzzle {
    padding:3em 3em; 
    text-align: center;
    line-height: 50px;
}

#puzzle > div:not(.button_div){
    height: 50px; 
    margin: 5px 0 5px 0;
}