{%extends 'base.html'%}

<title>{%block title%}Flasking for {{type}}s{% endblock %}</title>

{%block content%}

<!-- {% if form.is_submitted() and form.errors|count > 0 %} -->
<!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ form.errors|count }} error(s):
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
            <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" data-close></button>
</div> -->
<!-- {% endif %} -->

{% if type == 'Small & Furry' %}
<h1>So you want something small and furry!</h1>
{% elif type == 'Barnyard' %}
<h1>So you want a barnyard friend!</h1>
{% else %}
<h1>So you want {{type | lower}}s!</h1>
{% endif %}

<h3>Pick out some filters if you like!</h3>
<form method="POST" onsubmit="wait()" id = "filter_form">
    {{ form.hidden_tag() }}
    {% if type in ['Dog','Cat','Rabbit'] %}
        <div>{{ form.breed1.label }} {{ form.breed1()}}</div>
        <div>{{ form.breed2.label }} {{ form.breed2()}}</div>
    {% else %}
        <div><label for="breed1">Species</label> {{ form.breed1() }}</div>
        <div style="display:none"><label for="breed2">Species #2</label> {{ form.breed2() }}</div>
    {% endif %}
    <div>{{ form.color.label }} {{ form.color()}}</div>
    <div>{{ form.coat.label }} {{ form.coat()}}</div>
    <div>{{ form.gender.label }} {{ form.gender()}}</div>
    <b>Care to filter by size?</b>
    <div>{{ form.small() }} {{ form.small.label }} {{ form.medium() }} {{ form.medium.label }} {{ form.large() }} {{ form.large.label }} {{ form.xlarge() }} {{ form.xlarge.label }}</div>
    <b>Care to filter by age?</b>
    <div>{{ form.baby() }} {{form.baby.label}} {{ form.young() }} {{form.young.label}} {{ form.adult() }} {{form.adult.label}} {{ form.senior() }} {{form.senior.label}} </div>
    <b>Care to filter by your home needs?</b>
    <div>{{ form.children() }} {{ form.children.label }} {{ form.cats() }} {{ form.cats.label }} {{ form.dogs() }} {{ form.dogs.label }} 
        {% if type == 'Dog' %}
        {{form.housetrained()}} {{form.housetrained.label}}
        {% endif %}
    </div>
    <b>Where are you?</b>
    <div>{{ form.zipcode.label }} {{ form.zipcode() }} {{ form.distance.label }} {{ form.distance() }}</div>
    {% if login %}
    <div>If you want to save your search for future use, enter a name: {{ form.savename() }}</div>
    {% endif %}
    <div id = "form_submit" style = "height:40px"> 
        <div>{{ form.submit() }}</div>
        <div id="wait" style="display: none;">
        <!-- <div id="wait"> -->
            <div><img src="{{ url_for('static', filename = 'meow.gif') }}"></div>
            <div id = "msg">Please wait while we take a look!</div>
            <div><img src="{{ url_for('static', filename = 'meow.gif') }}"></div>
        </div>
    </div>
  </form>

{% if type == 'Dog' %}
<div class = 'sticker'>
    <img src = "{{ url_for('static', filename = 'kimchibun.png') }}" alt = "the cutest pitbull ever, Kimchi Bun" style = "width:auto;height:218px;">
</div>
{% endif %}


{% if type == 'Cat' %}
<div class = 'sticker'>
    <img src = "{{ url_for('static', filename = 'sieg.png') }}" alt = "the softest cat ever, Siegfried" style = "width:auto;height:218px;">
</div>
{% endif %}

{% if type == 'Rabbit' %}
<div class = 'sticker'>
    <div style = "text-align:center">
        <img src = "{{ url_for('static', filename = 'rabbit_grooming.png') }}" alt = "rabbit grooming" style = "width:auto;height:218px;">
    </div>
    <div class = "pic_credit">
        <a href="https://commons.wikimedia.org/wiki/File:House_rabbit_grooming.jpg">Ethan Sahagun</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons
    </div>
</div>
{% endif %}

{% if type == 'Small & Furry' %}
<div class = 'sticker'>
    <div style = "text-align:center">
        <img src = "{{ url_for('static', filename = 'blossomsbabies.png') }}" alt = "BlossomsBabiesDay2Sept25_008.jpg" style = "width:auto;height:218px;">
    </div>
    <div class = "pic_credit">
        <a href="https://commons.wikimedia.org/wiki/File:BlossomsBabiesDay2Sept25_008.jpg">Mieux2002</a>, Public domain, via Wikimedia Commons
    </div>
</div>
{% endif %}

{% if type == 'Horse' %}
<div class = 'sticker'>
    <div style = "text-align:center">
        <img src = "{{ url_for('static', filename = 'horse.png') }}" alt = "Horse Animation Cartoon Video Game Sprite Clipart Left Front.png" style = "width:auto;height:218px;">
    </div>
    <div class = "pic_credit">
        <a href="https://commons.wikimedia.org/wiki/File:Horse_Animation_Cartoon_Video_Game_Sprite_Clipart_Left_Front.png">Kurt Kaiser</a>, CC0, via Wikimedia Commons
    </div>
</div>
{% endif %}

{% if type == 'Bird' %}
<div class = 'sticker'>
    <div style = "text-align:center">
        <img src = "{{ url_for('static', filename = 'lovebirds.png') }}" alt = "Rosy-faced lovebirds (Agapornis roseicollis roseicollis)" style = "width:auto;height:218px;">
    </div>
    <div class = "pic_credit">
        <a href="https://commons.wikimedia.org/wiki/File:Rosy-faced_lovebirds_(Agapornis_roseicollis_roseicollis)_composite_3_of_3.jpg">Charles J. Sharp</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons
    </div>
</div>
{% endif %}

{% if type == 'Scales, Fins & Other' %}
<div class = 'sticker'>
    <div style = "text-align:end">
        <img src = "{{ url_for('static', filename = 'turtle.png') }}" alt = "florida box turtle" style = "width:auto;height:218px;">
    </div>
    <div class = "pic_credit">
        <a href="https://commons.wikimedia.org/wiki/File:Florida_Box_Turtle_Digon3_re-edited.jpg">“Jonathan Zander, digitally altered from its original version. Modifications made by CarolSpears.</a>, <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>, via Wikimedia Commons
    </div>
</div>
{% endif %}

{% if type == 'Barnyard' %}
<div class = 'sticker'>
    <div style = "text-align:end">
        <img src = "{{ url_for('static', filename = 'pig.png') }}" alt = "A Juliana pig is wearing a pink harness. Her name is Mollie" style = "width:auto;height:218px;">
    </div>
    <div class = "pic_credit">
        <a href="https://commons.wikimedia.org/wiki/File:Juliana_pig_wears_harness.jpg">Life With Pigs</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons
    </div>
</div>
{% endif %}





<script>
    function wait() {
        let popup = document.getElementById('wait');
        if (popup.style.display === "none") {
          popup.style.display = "flex";
        } 
        else {
          popup.style.display = "none";
        }
    }
</script>



<!-- {% if form.is_submitted() and form.savename.errors|count > 0 %}
<div class="alert" data-closable>
    <p style="text-align:center"><br/>
        {% for error in form.savename.errors %}
        {{form.savename.label}}: {{error}}
        {% endfor %}
    </p>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button> -->
   <!-- </div> -->
<!-- {% endif %}  --> 


{%endblock%} 