{%extends 'base.html'%}

<title>{%block title%}Flasking for {{type}}s{% endblock %}</title>

{%block content%}

<!-- {% if form.is_submitted() and form.errors|count > 0 %} -->
<!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ form.errors|count }} error(s):
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
            <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" data-close></button>
</div> -->
<!-- {% endif %} -->

<h1>So you want {{type | lower}}s!</h1>

<h3>Pick out some filters if you like!</h3>
<p><form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.breed1.label }} {{ form.breed1()}}</p>
    <p>{{ form.breed2.label }} {{ form.breed2()}}</p>
    <p>{{ form.color.label }} {{ form.color()}}</p>
    <p>{{ form.coat.label }} {{ form.coat()}}</p>
    <p>{{ form.gender.label }} {{ form.gender()}}</p>
    <h4>Care to filter by size?</h4>
    <p>{{ form.small() }} {{ form.small.label }} {{ form.medium() }} {{ form.medium.label }} {{ form.large() }} {{ form.large.label }} {{ form.xlarge() }} {{ form.xlarge.label }}</p>
    <h4>Care to filter by age?</h4>
    <p>{{ form.baby() }} {{form.baby.label}} {{ form.young() }} {{form.young.label}} {{ form.adult() }} {{form.adult.label}} {{ form.senior() }} {{form.senior.label}} </p>
    <h4>Care to filter by your home needs?</h4>
    <p>{{ form.children() }} {{ form.children.label }} {{ form.cats() }} {{ form.cats.label }} {{ form.dogs() }} {{ form.dogs.label }}</p>
    <h4>Where are you?</h4>
    <p>{{ form.zipcode.label }} {{ form.zipcode() }} {{ form.distance.label }} {{ form.distance() }}</p>
    {% if login %}
    <p>If you want to save your search for future use, enter a name: {{ form.savename() }}</p>
    {% endif %}
    <p></p>
    <p>{{ form.submit() }}</p>
  </form>
</p>

{% if type == 'Dog' %}
<div class = 'sticker'>
    <img src = "{{ url_for('static', filename = 'kimchibun.png') }}" alt = "the cutest pitbull ever, Kimchi Bun" style = "width:200px;height:auto;">
</div>
{% endif %}

<!-- <div>{% with errs = get_flashed_messages(category_filter=['error']) %}
    {% if errs %}
      <ul class=alert>
      {% for message in errs %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}</div> -->

<!-- {% if form.is_submitted() and form.savename.errors|count > 0 %}
<div class="alert" data-closable>
    <p style="text-align:center"><br/>
        {% for error in form.savename.errors %}
        {{form.savename.label}}: {{error}}
        {% endfor %}
    </p>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button> -->
   <!-- </div> -->
<!-- {% endif %}  --> 

<!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} -->

{%endblock%} 