<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
    <title>{%block title%}{% endblock %}</title>
  </head>
  <body>

    <div id = "header">
      <nav id = 'home'>
        <ul>
          <li><a href="/">Home</a></li>
          {% if type %}
            {% if type == 'Small & Furry' or type == 'Barnyard' %}
            &#x25B9; <li><a href="{{url_for('animals', type=type)}}">{{type}}</a></li>
            {% else %}
            &#x25B9; <li><a href="{{url_for('animals', type=type)}}">{{type}}s</a></li>
            {% endif  %}
          {% endif %}
          {% if payload %}
            {% if savename %}
            &#x25B9; <li><a href="{{url_for('search_saved', type=type, payload=payload, page=1, savename=savename)}}">Start of Results</a></li>
            {% else %}
            &#x25B9; <li><a href="{{url_for('search', type=type, payload=payload, page=1)}}">Start of Results</a></li>
            {% endif %}
          {% endif %}
          {% if puzzle %}
            &#x25B9; <li><a href="{{url_for('puzzle')}}">Squeerdle Basecamp</a></li>
          {% endif %}
        </ul>
      </nav>
      <nav>
        <ul>      
        {%if session['user_token']%}
        <li><a href="{{url_for('check_updates')}}" id ='news' onclick="patience()">What's News?</a></li>
        <li><a href="{{url_for('manage_account')}}">Manage Your Account</a></li> 
        <li><a href="{{url_for('logout')}}">Log Out</a></li>
        {%else%}
        <li><a href="{{url_for('register')}}">Register</a></li>
        {%endif%}
        </ul>
      </nav>
    </div>

    <div id="container">

      <div id="popup" style="display: none;">
        <div><img src="{{ url_for('static', filename = 'meow.gif') }}"></div>
        <div id = "msg">Please wait while we take a look!</div>
        <div><img src="{{ url_for('static', filename = 'meow.gif') }}"></div>
      </div>

      <div>
        {% with notices = get_flashed_messages(category_filter=['notice']) %}
        {% if notices %}
          <ul class="notice">
          {% for message in notices %}
            {% if message == "Nothing new for you, I'm afraid. Maybe try a new search!"%}
              <li class="notice">{{ message }}</li>
            {% else %}
              <li class="new">{{ message }}</li>
            {% endif %}
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      </div>

      <!-- <div style="text-align: center;">
        {% with res_errors = get_flashed_messages(category_filter=['response error']) %}
        {% if res_errors %}
          <div class="response_error">
          {% for message in res_errors %}
            {{ message }}
          {% endfor %}
          </div>
        {% endif %}
        {% endwith %}
      </div> -->

      {% block content %}
      {% endblock %}

      <div>
        {% with errs = get_flashed_messages(category_filter=['error']) %}
          {% if errs %}
            <ul class="alert">
            {% for message in errs %}
              <li>{{ message | safe }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
    </div>

    <script>
      function patience() {
          let popup = document.getElementById('popup');
          if (popup.style.display === "none") {
            popup.style.display = "flex";
          } 
          else {
            popup.style.display = "none";
          }

          let notice = document.getElementsByClassName('notice new');
          // notice.style.display = "none";
          console.log('FUCK')
      }
    </script>
  </body>
</html>