{%extends 'base.html'%}

{%block title%}Flasking for Pets{%endblock%}

{%block content%}
{% if not username %}
<h1>SUP DOG</h1>
{% else %}
<h1>Welcome, {{username}}!!</h1>
{% endif %}

<h2>PetFinder has so many types of pets that need good loving homes!</h2>

{% if form %}
<p>Do you want to log in?</p>
<form method="POST"><p>
    {{ form.hidden_tag() }}
    {{form.username.label}}: {{form.username()}} {{form.submit()}}
</p></form>
{% endif %}

<p>
What type are you looking for?
<ul>
    {% for type in pet_types_dict %} 
        <li><a href = "{{url_for('animals', type=type)}}">{{type}}</a></li>
    {% endfor %}
</ul></p>

{% if re_form %}
<p>You can reuse a search below.</p>
<p><form method="POST">
    {{ re_form.hidden_tag() }}
    {{ re_form.savename.label }}: {{ re_form.savename() }}    {{ re_form.submit() }}
</form></p>
{% endif %}


{%endblock%}