{%extends 'base.html'%}

{%block title%}Flasking for Pets{%endblock%}

{%block content%}

{% if not session['username'] %}
<h1>SUP DOG</h1>
{% else %}
<h1>Welcome, {{session['username']}}!!</h1>
{% endif %}

<h2>Petfinder has so many types of pets that need good loving homes!</h2>

{% if form %}
<p><b>Do you want to log in to your session?</b></p>
<form method="POST"><p>
    {{ form.hidden_tag() }}
    {{form.username.label}}: {{form.username()}} 
    {{form.password.label}}: {{form.password()}}
    {{form.submit()}}
</p></form>
{% endif %}

<p><b>What type are you looking for?</b></p>
<ul class="index">
    {% for type in pet_types_dict %} 
        <li><a href = "{{url_for('animals', type=type)}}">{{type}}</a></li>
    {% endfor %}
</ul>

{% if re_form %}
<p>You can reuse a search below.</p>
<p><form method="POST">
    {{ re_form.hidden_tag() }}
    {{ re_form.savename.label }}: {{ re_form.savename() }}    {{ re_form.submit() }}
</form></p>
{% endif %}

<!-- <img src = "{{ url_for('static', filename = 'kimchibun.jpeg') }}" alt = "the cutest pitbull ever, Kimchi Bun" style = "float: right;width:200px;height:auto"> -->
<div class = 'sticker'>
    <img src = "{{ url_for('static', filename = 'kimchibun.png') }}" alt = "the cutest pitbull ever, Kimchi Bun" style = "width:auto;height:218px;">
</div>

{%endblock%}