{%extends 'base.html'%}

{%block title%}Manage Account{%endblock%}

{%block content%}

<h1>Manage your account here!</h1>
{%if saves%}
<h4>Select which saved search(es) you would like to delete.</h4>
<form method="POST" name="req_deletes"> <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <table class="mgmt_table">
      {% for savename, params in saves.items() %}
      <tr>
        <td>
            <input type="checkbox" name="savenames" value="{{ savename }}" class = 'checkbox'>
        </td><td>
            <label for name = 'savenames'><b>{{ savename }}</b>: {{ params }}</label>
        </td>
      </tr>
      {% endfor %}
    </table>
    <input type="submit" value="Delete Saved Search(es)" class = 'submit_button'>
</form>

{%else%}
<h4>No saved searches at the moment.</h4>
{%endif%}

<h4>Update your nickname or change your password?</h4>
<form method="POST"><div style="line-height:2.5em;">
    {{ change_form.hidden_tag() }}
    <div>{{change_form.username.label}}: {{change_form.username()}} </div>
    <div>{{change_form.nickname.label}}: {{change_form.nickname()}} </div>
    <div>{{change_form.password.label}}: {{change_form.password()}}</div>
    <div>{{change_form.new_password.label}}: {{change_form.new_password()}}</div>
    <div>{{change_form.submit()}}</div>
</div></form>

<h4>Delete your account completely?</h4>

<form method="GET" action="{{url_for('delete_account')}}"> <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> <div style = "line-height: 2.5em;;">
    <input type="submit" value="Delete!" class = 'submit_button'>
</div></form>

{%endblock%}