{%extends 'base.html'%}

<title>{%block title%}Squeerdle{% endblock %}</title>

{%block content%}
<div id="squeerdle_wrapper", style="text-align: center;">

<h1>Welcome to Squeerdle!</h1>

<form method="GET" action="{{url_for('random_puzzle')}}"> <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 
    <h1><input type="submit" value="Gimme a random puzzle!" class = 'gimme_button'></h1>
</form>

<div class="tab">
  {% if not default_tab %}
    <button class="tablinks" onclick="openSection(event, 'Incomplete')" id="defaultOpen">Incomplete</button>
  {% else %}
    <button class="tablinks" onclick="openSection(event, 'Incomplete')">Incomplete</button>
  {% endif %}

    <button class="tablinks" onclick="openSection(event, 'Complete')">Complete</button>
  
  {% if default_tab == 'Creations' %}
    <button class="tablinks" onclick="openSection(event, 'Creations')" id="defaultOpen">Creations</button>
  {% else %}
    <button class="tablinks" onclick="openSection(event, 'Creations')">Creations</button>
  {% endif %}

  {% if default_tab == 'Create' %}
    <button class="tablinks" onclick="openSection(event, 'Create')" id="defaultOpen">Create New</button>
  {% else %}
    <button class="tablinks" onclick="openSection(event, 'Create')">Create New</button>
  {% endif %}

  {% if inbox %}
    <button class="tablinks" onclick="openSection(event, 'Inbox')">Inbox &#x1F440;</button>
  {% else %}
    <button class="tablinks" onclick="openSection(event, 'Inbox')">Inbox</button>
  {% endif %}
</div>
  
<div id="Incomplete" class="tabcontent">
    <h3>Puzzles You've Yet to Complete:</h3>
    {% if incomplete %}
        <table class = 'puzzler_table'>
        <tr><th class="smolcol">ID#</th><th class="smolcol">Guess Count</th><th>Words You've Already Guessed</th></tr>
        {% for row in incomplete %}
        <tr>
            {% with puzzle_id= row['puzzle_id']  %}
            <td class="smolcol"><a href="{{ url_for( 'play_puzzle', puzzle_id=puzzle_id ) }}" title = "Play this puzzle">{{puzzle_id}}</a></td><td class="smolcol">{{row['remaining_guesses']}}</td><td class="smolcol">{{row['guess_words']}}</td>
            {% endwith %}
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Whoa, nice! You've finished everything you've started!</p>
    {% endif %}
</div>

<div id="Complete" class="tabcontent">
    <h3>Puzzles You've Completed:</h3>
    {% if complete %}
        <table class = 'puzzler_table'>
        <tr><th class="smolcol">ID#</th><th class="smolcol">Guess Count</th><th>Word</th><th>Words You Guessed</th></tr>
        {% for row in complete %}
        <tr>
            {% with puzzle_id= row['puzzle_id']  %}
            <td class="smolcol"><a href="{{ url_for( 'play_puzzle', puzzle_id=puzzle_id ) }}" title = "View this puzzle">{{puzzle_id}}</a></td><td class="smolcol">{{row['remaining_guesses']}}</td><td class = "word" id = "{{row['puzzle_id']}}" style = "color:red;">{{row['word']}}</td><td>{{row['guess_words']}}</td>
            <script>
                {
                    let success = "{{row['success']}}"
                    let puzz_id = "{{row['puzzle_id']}}"
                    let word = "{{row['word']}}"
                    let td = document.getElementById(puzz_id);
                    if ( success == 1) {
                      td.style.color = "black";
                      document.getElementById(puzz_id).innerHTML = "&#x1F3C6; &nbsp; &nbsp; &nbsp;" + word + "&nbsp; &nbsp; &nbsp; &#x1F3C6;";
                    }
                }
              </script>
            {% endwith %}
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>You haven't completed anything yet!</p>
    {% endif %}
</div>

<div id="Creations" class="tabcontent">
    <h3>Puzzles You've Created:</h3>
    {% if created %}
        <table class = 'puzzler_table'>
        <tr><th class="smolcol">ID#</th><th>Word</th><th class="smolcol">Send to a Friend?</th><th class="smolcol">Plays</th><th class="smolcol">Wins</th></tr>
        {% for row in created %}
        <tr>
        <form method="POST"> {{send_form.csrf_token()}} {{send_form.hidden_id(value=row['puzzle_id'])}} {{send_form.hidden_word(value=row['word'])}}
            <td class="smolcol">{{row['puzzle_id']}}</td><td>{{row['word']}}</td><td class="smolcol">{{send_form.username()}} {{send_form.send()}}</td><td class="smolcol">{{row['plays']}}</td><td class="smolcol">{{row['wins']}}</td>
        </form>
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>You've not created anything yet!</p>
    {% endif %}
</div>

<div id="Create" class="tabcontent">
    <h3>Create a Puzzle (for others to enjoy, not you, that's cheating)</h3>
    <form method="POST"><div style="line-height:2em;">
        {{ create_form.hidden_tag() }}
        <div>{{create_form.word.label}}: {{create_form.word()}} </div>
        <div class="button_div">{{create_form.submit()}}</div>
    </div></form>
</div>

<div id="Inbox" class="tabcontent">
  <h3>Puzzles Created for You:</h3>
  {% if inbox %}
    <p>Click the puzzle ID link to play and move it into your incomplete puzzles.</p>
      <table class = 'puzzler_table'>
      <tr><th class="smolcol">ID#</th><th class="smolcol">Creator</th></tr>
      {% for row in inbox %}
      <tr>
          {% with puzzle_id= row['puzzle_id']  %}
          <td class="smolcol"><a href="{{ url_for( 'play_puzzle', puzzle_id=puzzle_id ) }}" title = "Play this puzzle">{{puzzle_id}}</a></td><td class="smolcol">{{row['username']}} {% if row['nickname'] %}({{row['nickname']}}){% endif %}</td>
          {% endwith %}
      </tr>
      {% endfor %}
      </table>
  {% else %}
      <p>Nothing right now.</p>
  {% endif %}
</div>

<script>
function openSection(evt, sectionName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(sectionName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  document.getElementById("defaultOpen").click();
</script>

<div style="text-align: center;">
    {% with errs = get_flashed_messages(category_filter=['puzzle error']) %}
      {% if errs %}
        <ul class="puzzle_error">
        {% for message in errs %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>

<div style="text-align: center;">
    {% with notices = get_flashed_messages(category_filter=['puzzle base notice']) %}
      {% if notices %}
        <ul class="puzzle_notice">
        {% for message in notices %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>

</div>
{%endblock%} 