{%extends 'base.html'%}

<title>{%block title%}Let's Play!{% endblock %}</title>

{%block content%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
        }
    @-webkit-keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
        }
</style>

<form method="POST"> {{form.hidden_tag()}}
<div id = "puzzle">
    <div style="text-align: center;">
        {% with errs = get_flashed_messages(category_filter=['puzzle error']) %}
          {% if errs %}
            <ul class="puzzle_error">
            {% for message in errs %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
    {% for guess in range(puzzle.max_guesses) %}
        {% if guess != (puzzle.guess_count) %}
            {% if evals[guess] == 'win' %}
                <div id = 'winner'>
                {% for i in range(puzzle.word|length)  %}
                <span class = "puzzle_row" id="winner{{i}}" style="background-color:rgb(157, 156, 156)">{{puzzle.word[i]}}</span>
                <script>
                    {
                        let i = '{{i}}';
                        let span = document.getElementById('winner{{i}}');
                        if (i == 0) {
                            span.style.backgroundColor = "#f24646";
                        }
                        else if (i == 1) {
                            span.style.backgroundColor = "orange";
                        }
                        else if (i == 2) {
                            span.style.backgroundColor = "#ffee49";
                        }
                        else if (i == 3) {
                            span.style.backgroundColor = "#41b841";
                        }
                        else if (i == 4) {
                            span.style.backgroundColor = "#5050ff";
                        }
                        else if (i == 5) {
                            span.style.backgroundColor = "#8c4fdf";
                        }        
                        else if (i == 6) {
                            span.style.backgroundColor = "#c159c1";
                        };                                          
                    }
                </script>
                {% endfor %}
                </div>



            {% elif guess == puzzle.guess_count-1 %}
            <div>
                {% for i in range(puzzle.word|length) %}
                    <span class = "puzzle_row" id="{{guess}}{{i}}" style="background-color:rgb(157, 156, 156); opacity:0;">{{evals[guess][i][0]}}</span>
                    <script>
                        {
                            let guess = '{{evals[guess][i][1]}}';
                            let span = document.getElementById('{{guess}}{{i}}');
                            if ( guess == 1) {
                              span.style.backgroundColor = "#ffee49";
                            }
                            else if (guess == 2) {
                              span.style.backgroundColor = "#41b841";
                            };
                            let effect = 'fadeEffect .5s';
                            console.log(effect)
                            setTimeout( () => {
                                span.style.animation = effect;
                                span.style.webkitAnimation = effect;
                                span.style.opacity = 1;
                                }, '{{i*500}}');
                        }
                      </script>
                {% endfor %}
            </div>

            {% elif guess < puzzle.guess_count-1 %}
                <div>
                {% for i in range(puzzle.word|length) %}
                    <span class = "puzzle_row" id="{{guess}}{{i}}" style="background-color:rgb(157, 156, 156)">{{evals[guess][i][0]}}</span>
                    <script>
                        {
                            let guess = '{{evals[guess][i][1]}}';
                            let span = document.getElementById('{{guess}}{{i}}');
                            if ( guess == 1) {
                              span.style.backgroundColor = "#ffee49";
                            }
                            else if (guess == 2) {
                              span.style.backgroundColor = "#41b841";
                            };
                        }
                      </script>
                {% endfor %}
                </div>
            {% else %}
                <div>
                {% for i in range(puzzle.word|length)  %}
                    <span class = "puzzle_row"> </span>
                {% endfor %}
                </div>
            {% endif %}
        {% else %}
            {% if evals[-1] != 'win' %}
                <div>
                {% for field in form %}
                    <span class = "guess_row">{{field()}}</span>
                {% endfor %}
                </div>
            {% else %}
                <div>
                {% for i in range(puzzle.word|length)  %}
                    <span class = "puzzle_row"> </span>
                {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if evals[-1] != 'win' %}
        {% if puzzle.guess_count == puzzle.max_guesses %}
        <div id="loser_text">Out of turns!<br>
        The word was:<br>
        {{puzzle.word}}</div>
        {% else %}
        <div class = "button_div">
            <input type="submit" value="Let's See!" class = 'submit_button'>
        </div>
        {% endif %}
    {% else %}
        <div id="rainbow_text">YOU WIN!</div>
    {% endif %}
</div>
</form>
<script>
    $('input').keydown(function () {
        if (this.value.length == this.maxLength && event.which != 8) {
            $(this).parent().nextAll().children('input').first().focus();
        };
    });
    $('input').keydown(function () {
        if (this.value.length == 0 && event.which == 8) {
            $(this).parent().prevAll().children('input').first().focus();
        };         
    });
</script>

{%endblock%} 
